build/
builddir/
Build/
Factory/CrossTools/Tarballs
Factory/CrossTools/Build
Factory/CrossTools/Local
Factory/CrossTools/Cross
Factory/Toolchain/Tarballs
Factory/Toolchain/Build
Factory/Toolchain/Local
Factory/Toolchain/Tools
.vscode
stdin.info
**/stdin.info
Factory/config.json
quick_rebuild.sh
x86_64/*